# Email Settings
EMAIL_HOST_USER=your_email@gmail.com
EMAIL_HOST_PASSWORD=your_app_password_here

# Django Settings
ADMIN_URL_PATH=your_custom_admin_path
SECRET_KEY=your_django_secret_key_here
DEBUG=True

# Stripe API Keys
STRIPE_PUBLISHABLE_KEY=pk_test_your_publishable_key
STRIPE_SECRET_KEY=sk_test_your_secret_key

# Database Settings
# Format: postgresql://user:password@host:port/dbname
DATABASE_URL=postgresql://username:password@localhost:5432/your_db_name