<!-- TOP BAR -->
 {% load static %}
<header class="border-b">
    <div class="max-w-7xl mx-auto px-4">
        <div class="flex justify-between items-center py-2 text-sm text-gray-600">
            <div class="flex space-x-6">
                <span>Language</span>
                <span>USD</span>
            </div>

            <div class="flex space-x-6">
                <a href="#" class="flex items-center space-x-1">
                    <span>Email</span>
                </a>
                <a href="#" class="flex items-center space-x-1">
                    <span>Call us</span>
                </a>
            </div>
        </div>
    </div>
</header>

